{% extends "admin/change_list.html" %}

{% load i18n admin_urls static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/admin-menu.css" %}"/>
{% endblock %}

{% block object-tools-items %}
    {% if has_add_permission %}
        {% url cl.opts|admin_urlname:'download_from_xbox' as download_url %}
        {% if download_url %}
            <li>
                <a href="{% add_preserved_filters download_url is_popup to_field %}" class="downloadlink">
                    {% blocktrans %}Download from Xbox.com{% endblocktrans %}
                </a>
            </li>
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
